<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4  d-flex ml-auto ">
			<div class="carousel-caption myCarousel-caption myTitle position-relative pb-0">
				<h2 class="text-left">healthmonitor.me</h2>
				<p class="text-left">Logo, Webdesign and front end development
				<ul class="text-left"></p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 ">
			<img class="d-block w-100 ml-auto" src="{{ '/assets/images/refs/websites1200-1.jpg'|theme }}" alt="healthmonitor.me<">
		</div>
	</div>
</div>
