<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4  d-flex ml-auto ">
			<div class="carousel-caption myCarousel-caption myTitle position-relative pb-0">
				<h2 class="text-left">Banners other online graphics</h2>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 ">
			<picture>
				<source media="print" srcset="{{ '/assets/images/refs/banner1200.jpg'|theme }}">
		  		<source media="(max-width: 576px)"   srcset="{{ '/assets/images/refs/banner576.jpg'|theme }}">
				<source media="(max-width: 768px)"   srcset="{{ '/assets/images/refs/banner768.jpg'|theme }}">
				<source media="(max-width: 992px)"   srcset="{{ '/assets/images/refs/banner992.jpg'|theme }}">
				<source media="(max-width: 1200px)"   srcset="{{ '/assets/images/refs/banner1200.jpg'|theme }}">
				<img class="d-block w-100 ml-auto" src="{{ '/assets/images/refs/banner1200.jpg'|theme }}" alt="Banners other online graphics">
			</picture>

		</div>
	</div>
</div>
