<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4  d-flex ml-auto ">
			<div class="carousel-caption myCarousel-caption myTitle position-relative pb-0">
				<h2 class="text-left">centralroofing.co.uk</h2>
				<p class="text-left">Webdesign and programming - front end development for 2 different companies in one website</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 ">
			<img class="d-block w-100 ml-auto" src="{{ '/assets/images/refs/websites1200-3.jpg'|theme }}" alt="centralroofing.co.uk">
		</div>
	</div>
</div>
