<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4  d-flex ml-auto ">
			<div class="carousel-caption myCarousel-caption myTitle position-relative pb-0">
				<h2 class="text-left">Leaflets, other printing jobs</h2>
				<p class="text-left">Design of Printing of different types for several clients</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 ">
			<img class="d-block w-100 ml-auto" src="{{ '/assets/images/refs/leaflets1200.jpg'|theme }}" alt="Leaflets, other printing jobs">
		</div>
	</div>
</div>
