<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4  d-flex ml-auto ">
			<div class="carousel-caption myCarousel-caption myTitle position-relative pb-0">
				<h2 class="text-left">Designing and programming newsletters</h2>

			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 ">

			<picture>
				<source media="print" srcset="{{ '/assets/images/refs/banner1200.jpg'|theme }}">
		  		<source media="(max-width: 576px)"   srcset="{{ '/assets/images/refs/newsletter.jpg'|theme }}">
				<source media="(max-width: 768px)"   srcset="{{ '/assets/images/refs/newsletter.jpg'|theme }}">
				<source media="(max-width: 992px)"   srcset="{{ '/assets/images/refs/newsletter.jpg'|theme }}">
				<source media="(max-width: 1200px)"   srcset="{{ '/assets/images/refs/newsletter.jpg'|theme }}">
				<img class="d-block w-100 ml-auto" src="{{ '/assets/images/refs/newsletter1200.jpg'|theme }}" alt="Designing and programming newsletters">
			</picture>
		</div>
	</div>
</div>
