<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4  d-flex ml-auto ">
			<div class="carousel-caption myCarousel-caption myTitle position-relative pb-0">
				<h2 class="text-left">Rollups, other printing jobs</h2>
				<p class="text-left">Design of Printing of different types for several clients</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 ">

			<picture>
				<source media="print" srcset="{{ '/assets/images/refs/banner1200.jpg'|theme }}">
		  		<source media="(max-width: 576px)"   srcset="{{ '/assets/images/refs/rollup576.jpg'|theme }}">
				<source media="(max-width: 768px)"   srcset="{{ '/assets/images/refs/rollup768.jpg'|theme }}">
				<source media="(max-width: 992px)"   srcset="{{ '/assets/images/refs/rollup992.jpg'|theme }}">
				<source media="(max-width: 1200px)"   srcset="{{ '/assets/images/refs/rollup1200.jpg'|theme }}">
				<img class="d-block w-100 ml-auto" src="{{ '/assets/images/refs/rollup1200.jpg'|theme }}" alt="Rollups, other printing jobs">
			</picture>
		</div>
	</div>
</div>
