<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4  d-flex ml-auto ">
			<div class="carousel-caption myCarousel-caption myTitle position-relative pb-0">
				<h2 class="text-left">rosssampson-solutions.com</h2>
				<p class="text-left">Design and front end development for dutch-UK marketing agency with several online and offline designing and programming tasks</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 ">
			<img class="d-block w-100 ml-auto" src="{{ '/assets/images/refs/websites1200-2.jpg'|theme }}" alt="rosssampson-solutions.com">
		</div>
	</div>
</div>
