<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4  d-flex ml-auto ">
			<div class="carousel-caption myCarousel-caption myTitle position-relative pb-0">
				<h2 class="text-left">medezeggenschap-solon.nl</h2>
				<p class="text-left">Develop a new logo and fully responsive mobile website in Wordpress

				</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 ">
			<img class="d-block w-100 ml-auto" src="{{ '/assets/images/refs/websites1200-7.jpg'|theme }}" alt="medezeggenschap-solon.nl">
		</div>
	</div>
</div>
