<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4  d-flex ml-auto ">
			<div class="carousel-caption myCarousel-caption myTitle position-relative pb-0">
				<h2 class="text-left">tchungary.com</h2>
				<p class="text-left">Front end development of multi language uniquely organized portal. Full server maintenance, help desk. Online and offline graphic design.</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 ">
			<img class="d-block w-100 ml-auto" src="{{ '/assets/images/refs/websites1200-4.jpg'|theme }}" alt="tchungary.com">
		</div>
	</div>
</div>
