<div class="footer-above">
    <div class="container">
        <div class="row">
           <div class="footer-col col-md-12">
                <h3>Elérhetőségek</h3>
                <p>Tel: 06 30 488 5695, <br>e-mail: info[kukac]laszlokemeny.com.</p>
            </div>
        </div>
    </div>
</div>
<div class="footer-below">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                Copyright &copy; LaszloKemeny.com, {{ "now"|date("Y") }}.
            </div>
        </div>
    </div>
</div>
