<!--<div class="container">
  <div class="row">
    <div class="col-lg-12">
            <img class="img-responsive" src="{{ 'assets/images/kemenylaszlo.png'|theme }}" alt="Kemény László">
        
            <div class="intro-text">
                <span class="name">Kemény László</span>
                <hr class="star-light">
                <span class="skills">Grafika - Webdesign - Hosting</span>
            </div>
        </div>
      
    </div>
</div>-->

<div class="container">
<div class="row ">
  <div class="col-lg-12">
  <img class="img-responsive" src="{{ 'assets/images/kemenylaszlo.png'|theme }}" alt="Kemény László">
    <div class="intro-text"> <p class="name"><span class="name1">Grafika </span><span class="name2">egyszerűen</span></p>
      <hr>
      <span class="skills">Legyen szó egy logo, egy honlap vagy bármilyen grafikai munka megvalósításáról, az egyszerűséget és az eleganciát tartom a tervezés legfontosabb szempontjának.</span> </div>
  </div>
</div>
