==
<div class="portfolio-modal modal fade" id="112motion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>112Motion</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/112motion.jpg'|theme }}" class="img-responsive img-centered" alt="112Motion">
                        <p>Webdesign</p>
                        <ul class="list-inline item-details">
                            <li>Megbízó:
                                <strong>http://112motion.com</strong>
                          </li>
                            <li>Munkák időpontja:
                            <strong>2015</strong></li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="voethulp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Voethulp</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/voethulp.jpg'|theme }}" class="img-responsive img-centered" alt="Voethulp.nl">
                        <p>Webdesign</p>
                        <ul class="list-inline item-details">
                            <li>Megbízó:
                                <strong>http://voethulp.nl</strong>
                          </li>
                            <li>Munkák időpontja:
                            <strong>2015</strong></li>
                            <li>Hosting: <strong>honlap és céges e-mail fenntartás</strong></li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="redlodge" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Redlodge Norfolk</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/redlodge.jpg'|theme }}" class="img-responsive img-centered" alt="redlodge">
                      <p>Webdesign, reservation engine</p>
                        <ul class="list-inline item-details">
                            <li>Megbízó:
                                <strong>http://redlodgenorfolk.com</strong>
                            </li>
                            <li>Munkák időpontja:
                            <strong>2015</strong></li>
                            <li>Hosting: <strong>honlap és céges e-mail fenntartás</strong></li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="careercoaching" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Liquid Sequence (Hollandia)</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/careercoaching.jpg'|theme }}" class="img-responsive img-centered" alt="BITE bakery cafe">
                        <p>Webdesign, UI design, UI images</p>
                        <ul class="list-inline item-details">
                            <li>Megbízó:
                                <strong>http://liquidsequence.com</strong>
                            </li>
                            <li>Munkák időpontja:
                            <strong>2015</strong></li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal0" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>ComsQuest B.V.</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/comsquest.jpg'|theme }}" class="img-responsive img-centered" alt="Comsquest B.V.">
                        <p>Honlap felújítás, stíluslap csere</p>
                        <ul class="list-inline item-details">
                            <li>Megbízó:
                                <strong>http://comsquest.com</strong>
                            </li>
                            <li>Munkák időpontja:
                                <strong>2015</strong>
                            </li>
                            <li>Hosting:
                                <strong>honlap és céges e-mail fenntartás</strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Bite bakery Cafe</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/bite.jpg'|theme }}" class="img-responsive img-centered" alt="BITE bakery cafe">
                        <p>Online és offline grafikai tervezés és webdesign</p>
                        <ul class="list-inline item-details">
                            <li>Megbízó:
                                <strong>http://bitebakerycafe.hu
                                </strong>
                            </li>
                            <li>Munkák időpontja:
                                <strong>2014-15</strong>
                            </li>
                            <li>Hosting:
                                <strong>honlap és céges e-mail fenntartás</strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>TC Hungary</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/tchungary.jpg'|theme }}" class="img-responsive img-centered" alt="TC Hungary">
                        <p>Teljeskörű online és offline grafikai munkák, 6 országos honlap fenntartás, marketing feladatok</p>
                        <ul class="list-inline item-details">
                            <li>Megbízó:
                                <strong>Thermotechnika Kereskedelmi Kft.
                                </strong>
                            </li>
                            <li>Munkák időpontja:
                                <strong>2002-től
                                </strong>
                            </li>
                            <li>Hosting:
                                <strong>honlap és  e-mail fenntartás</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Klick2 Contact</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/k2c.jpg'|theme }}" class="img-responsive img-centered" alt="K2C">
                        <p>Online és offline grafikai munkák, Live help videok elkészítése, hirlevelek, videovágás, honlap fenntartás</p>
                        <ul class="list-inline item-details">
                            <li>Megbízó:
                                <strong>Klick2 Contact
                                </strong>
                            </li>
                            <li>Munkák időpontja:
                                <strong>2007-től
                                </strong>
                            </li>
                            <li>Hosting:
                                <strong>honlap és  e-mail fenntartás</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                         <h2>Solon Medezeggenschap</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/solon.jpg'|theme }}" class="img-responsive img-centered" alt="Solon">
                        <p>Logotervezés, wordpress theme alapján oldal felépítése, szórólap, honlap fenntartás</p>
                        <ul class="list-inline item-details">
                            <li>Megbízó:
                                <strong>Solon Medezeggenschap
                                </strong>
                            </li>
                            <li>Munkák időpontja:
                                <strong>2014-től
                                </strong>
                            </li>
                            <li>Hosting:
                                <strong>honlap és  e-mail fenntartás</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="set" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Search for England's Treasures</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/set.jpg'|theme }}" class="img-responsive img-centered" alt="Solon">
                        <p>Logotervezés, honlap, szórólap, hírlevél, honlap fenntartás</p>
                        <ul class="list-inline item-details">
                            <li>Megbízó:
                                <strong>TMC
                                </strong>
                            </li>
                            <li>Munkák időpontja:
                                <strong>2014.
                                </strong>
                            </li>
                            <li>Hosting:
                                <strong>honlap és  e-mail fenntartás</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="holt" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Holt Travel</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/holt-travel.jpg'|theme }}" class="img-responsive img-centered" alt="Solon">
                        <p>Logotervezés, honlap, honlapfenntartás, névjegykártya</p>
                        <ul class="list-inline item-details">
                            <li>Megbízó:
                                <strong>Holt travel
                                </strong>
                            </li>
                            <li>Munkák időpontja:
                                <strong>2014.
                                </strong>
                            </li>
                            <li>Hosting:
                                <strong>honlap és  e-mail fenntartás</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="szentandras" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Szent András Általános Iskola</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/szentandras.jpg'|theme }}" class="img-responsive img-centered" alt="Solon">
                        <p>Logotervezés, honlapfenntartás</p>
                        <ul class="list-inline item-details">
                            <li>Megbízó:
                                <strong>Szent András Általános Iskola
                                </strong></li>
                            <li>Munkák időpontja:
                                <strong>2014.
                                </strong>
                            </li>
                            <li>Hosting:
                                <strong>honlap és  e-mail fenntartás</a>
                                </strong>
                            (Ingyenes hosting)</li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="crowntours" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Crown tours</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/crowntours.jpg'|theme }}" class="img-responsive img-centered" alt="Solon">
                      <p>Katalógus, szórólap, honlap</p>
                        <ul class="list-inline item-details">
                            <li>Megbízó:
                                <strong>Crown Tours
                                </strong>
                            </li>
                            <li>Munkák időpontja:
                                <strong>2009.
                            </strong></li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="fibrequest" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Fibrequest</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/fibrequest.jpg'|theme }}" class="img-responsive img-centered" alt="Solon">
                        <p>Logotervezés, honlapfenntartás</p>
                        <ul class="list-inline item-details">
                            <li>Megbízó:
                                <strong>Fibrequest
                                </strong>
                            </li>
                            <li>Munkák időpontja:
                                <strong>2007.
                                </strong>
                            </li>
                            <li>Hosting:
                                <strong>honlap és  e-mail fenntartás</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="tcpanel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Crown Cool Kft. (TC Panel)</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/tcpanel.jpg'|theme }}" class="img-responsive img-centered" alt="Solon">
                        <p>Logotervezés, honlapfenntartás, katalógusok szórólapok</p>
                        <ul class="list-inline item-details">
                            <li>Megbízó:
                                <strong>Crown Cool Kft
                                </strong>
                            .</li>
                            <li>Munkák időpontja:
                                <strong>2012.
                                </strong>
                            </li>
                            <li>Hosting:
                                <strong>honlap és  e-mail fenntartás, katalógusok</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>