<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
            	<div class="col-sm-4 portfolio-item">
                    <a href="#112motion" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ 'assets/images/portfolio/112motion.jpg'|theme }}" class="img-responsive" alt="112Motion">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#voethulp" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ 'assets/images/portfolio/voethulp.jpg'|theme }}" class="img-responsive" alt="Voethulp">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#redlodge" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ 'assets/images/portfolio/redlodge.jpg'|theme }}" class="img-responsive" alt="Red lodge">
                    </a>
                </div>
            	<div class="col-sm-4 portfolio-item">
                    <a href="#careercoaching" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ 'assets/images/portfolio/careercoaching.jpg'|theme }}" class="img-responsive" alt="Cereer coaching">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal0" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ 'assets/images/portfolio/comsquest.jpg'|theme }}" class="img-responsive" alt="Comsquest B.V.">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ 'assets/images/portfolio/bite.jpg'|theme }}" class="img-responsive" alt="BITE bakery cafe">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ 'assets/images/portfolio/tchungary.jpg'|theme }}" class="img-responsive" alt="TC Hungary">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ 'assets/images/portfolio/k2c.jpg'|theme }}" class="img-responsive" alt="K2C">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ 'assets/images/portfolio/solon.jpg'|theme }}" class="img-responsive" alt="Solon">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#set" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ 'assets/images/portfolio/set.jpg'|theme }}" class="img-responsive" alt="">
                    </a>
                </div>
                
                <div class="col-sm-4 portfolio-item">
                    <a href="#holt" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ 'assets/images/portfolio/holt-travel.jpg'|theme }}" class="img-responsive" alt="Holt travel">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#szentandras" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ 'assets/images/portfolio/szentandras.jpg'|theme }}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#crowntours" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ 'assets/images/portfolio/crowntours.jpg'|theme }}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#fibrequest" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ 'assets/images/portfolio/fibrequest.jpg'|theme }}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#tcpanel" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ 'assets/images/portfolio/tcpanel.jpg'|theme }}" class="img-responsive" alt="">
                    </a>
                </div>
                
            </div>
        </div>