<div class="container-fluid myHeight anchor" id="contact">
    <div class="row h-100 d-flex align-items-center">
        <div class="container">
            <div class="content flex-direction-column justify-self-center m-auto bckg-3">
                <h1 class="glow display-1">Contact</h1>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-lg-7 contacts mb-3">

                            <p>You can contact me any way that is convenient for you. I am available by email, phone or Skype (grafitborz). You can also use the quick contact form below.</p>
                            {% component 'contactForm' %}
                        </div>
                        <div class="col-md-12 col-lg-5 addresses">
                            <div class="row">
                                <div class="col-sm-12  pl-5 ">
                                    <h2>László Kemény</h2>
									<p>Érd, Hungary</p>


                                    <a href="skype:grafitborz?call" target="_blank"><i class="fa fa-skype"></i><span class="pl-1">Skype</span></a>
                                    <a class="pl-3" href="tel:0036304885695" target="_blank"><i class="fa fa-phone"></i><span class="pl-1">Phone</span></a>
                                    <a class="pl-3" href="mailto:info@laszlokemeny.com" target="_blank"><i class="fa fa-envelope"></i><span class="pl-1">E-mail</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
