<div class="container-fluid myHome anchor" id="home">
    <div class="logo d-flex justify-content-center align-items-center">
        <img class="position-absolute" src="{{ 'assets/images/laszlokemeny-logoicon.png'|theme }}" alt="" class="img-rounded center-block" width="150px">
        <div class="myName mt-5"><span>Kemény</span><span>László</span></div>
    </div>
    <div class="overlay"> </div>
    <div class="row">
        <div class="col p-0 m-0 bckg-1"></div>
        <div class="col p-0 m-0 bckg-2 d-none d-sm-block"></div>
    </div>
</div>
