<div class="container-fluid myHeight anchor testimonials" id="testimonial">
    <div class="row h-100 d-flex align-items-center">
        <div class="container">
            <div class="content flex-direction-column justify-self-center m-auto bckg-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <blockquote class="blockquote">
                            <p class="mt-3 display-4">
								<i class="fa fa-quote-left" aria-hidden="true"></i>
I have worked with Laszlo for over 10 years now on many different projects - both online and offline  - and he has always been creative, hard working and responsive - I will be working with him for many more years to come!<i class="fa fa-quote-right" aria-hidden="true"></i>

                            </p>
							</blockquote>
							<div class="media mt-3">
  <img class="mr-3 rounded-circle align-middle d-inline-block"  src="{{ 'assets/images/ross-sampson.jpg'|theme }}" alt="Ross Sampson">
  <div class="media-body d-inline-block">
    <h5 class="mt-0">Ross Sampson</h5>
    Marketing Specialist
  </div>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
