<div class="container-fluid myWorks anchor" id="works">
    <div class="row h-100 d-flex align-items-center">
        <div class="content flex-direction-column justify-self-center m-auto bckg-3 w-100">
            <h1 class="glow display-1 text-center">My recent works</h1>
			<div class="container-fluid">
			    <div class="row mt-5">
			        <div class="col-12">
			            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
			                <div class="carousel-inner ">
								<div class="carousel-item active">
			                        {% partial 'refs/rss' %}
			                    </div>
								<div class="carousel-item">
			                        {% partial 'refs/healthmonitor' %}
			                    </div>
			                    <div class="carousel-item">
			                        {% partial 'refs/bruin' %}
			                    </div>
								<div class="carousel-item">
			                        {% partial 'refs/tc' %}
			                    </div>
								<div class="carousel-item">
			                        {% partial 'refs/centralroofing' %}
			                    </div>
								<div class="carousel-item">
			                        {% partial 'refs/solon' %}
			                    </div>
								<div class="carousel-item">
			                        {% partial 'refs/112motion' %}
			                    </div>
								<div class="carousel-item">
			                        {% partial 'refs/rc' %}
			                    </div>
								<div class="carousel-item">
			                        {% partial 'refs/banner' %}
			                    </div>
								<div class="carousel-item">
			                        {% partial 'refs/leaflets' %}
			                    </div>
								<div class="carousel-item">
			                        {% partial 'refs/rollup' %}
			                    </div>
								<div class="carousel-item">
			                        {% partial 'refs/newsletter' %}
			                    </div>
			                    <div class="row">
									<div class="col-sm-7 ml-auto d-flex justify-content-center arrows mt-2">
			                            <a class="mx-2 glow" href="#carouselExampleFade" data-slide="prev">
											<i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i>

			                            </a>
			                            <a class="mx-2 glow" href="#carouselExampleFade" data-slide="next">
			                                <i class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i>
			                            </a>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
        </div>
    </div>
</div>
